:root {
  --primary-color: #f2e2d2;
  --primary-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Space Mono", monospace;
}

h1,
h2 {
  font-family: var(--primary-font-family);
}

p {
  font-family: var(--secondary-font-family);
}

.navbar-nav {
  text-align: right;
  font-family: var(--primary-font-family);
}

.top-header {
  font-size: 220px;
}

.laptop-img {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: auto;
  position: relative;
  top: 12px;
}

.project-text {
  position: relative;
  bottom: 460px;
  width: 400px;
  height: 75px;
  font-size: 35px;
  font-family: var(--primary-font-family);
}

.hero {
  background-color: #f2e2d2;
  margin: 0 auto;
}

.job-title {
  text-align: center;
  font-size: 65px;
}

.icons {
  text-align: center;
}

.github-icon {
  color: black;

  font-size: 60px;
}

.linkedin-icon {
  color: black;
  font-size: 60px;
}

.animate-charcter {
  text-transform: uppercase;
  text-align: left;
  background-image: linear-gradient(
    -225deg,
    #030303 0%,
    #4e4953 29%,
    #c9c3ad 67%,
    #f1e3d2 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 220px;
}

.plant-img {
  width: 636;
  height: auto;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* RESPONSIVE */

@media (max-width: 576px) {
  .animate-charcter {
    font-size: 110px;
    text-align: center;
    padding-top: 10px;
  }
  .laptop-text {
    font-size: 20px;
    position: relative;
    bottom: 0px;
  }
  .small.laptop-text {
    font-size: 30px;
    font-weight: 20px;
    text-align: center;
    line-height: 10px;
    font-family: var(--secondary-font-family);
  }

  .project-text {
    position: relative;
    bottom: 460px;
    width: 300px;
    height: 35px;
    font-size: 25px;
    font-family: var(--primary-font-family);
  }

  .job-title {
    font-size: 30px;
  }

  .github-icon {
    color: black;
    font-size: 30px;
  }

  .linkedin-icon {
    color: black;
    font-size: 30px;
  }
}

/* About page */

.capital {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
}

.rest {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
